/* GLOBAL  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  margin: 0 4px;
}

/* HEADER */

header {
  margin-top: 4px;
  text-align: center;
}

h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 70%;
  /* right: 10%; */
  font-size: 1.75em;
  color: white;
  text-shadow: 0 .5px black;
}

img {
  width: 100%;
  box-shadow: 1px 0 1px .5px rgba(20,33,47,.5);
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: white;
  text-shadow: 0 .5px black;
}

/* MAIN */

p {
  margin: 0;
}

.container p {
  position: absolute;
  font-size: .75em;
  color: white;
  background: rgba(0,0,0,.5);
  /* text-shadow: 1px 1px black; */
}

.first p {
  top: 5%;
  left: 5%;
  background: rgba(0,0,0,.5);
  padding: 3px 0 3px 5px;
}

.second p, .fourth p {
  text-align: right;
  bottom: 10%;
  right: 5%;
  padding: 3px 5px 3px 0;
}

.third p {
  bottom: 10%;
  left: 5%;
  padding: 3px 0 3px 5px;
}

i {
  color: #2db6e8;
}

i:hover {
  color: #067da8;
}

/* SIGN UP FORM */

.more-info, .explore-more {
  border-top: 1px solid #ccc;
  margin-bottom: 4px;
  text-align: center;
  margin: 0 4px 4px 4px;
}

h3 {
  margin-top: 3px;
  margin-bottom: 4px;
}

form {
  margin: 0;
}

input {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-bottom: 1px;
  width: 99%;
}

button {
  display: block;
  width: 100%;
  padding: 7px 0 7px 0;
  background: #2db6e8;
  color: white;
  border: none;
}
